<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet declarations -->
    <servlet>
        <servlet-name>GoogleLoginController</servlet-name>
        <servlet-class>controller.GoogleLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountDashboardController</servlet-name>
        <servlet-class>controller.AdminAccountDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderImportProduct</servlet-name>
        <servlet-class>controller.OrderImportProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderImportProductList</servlet-name>
        <servlet-class>controller.OrderImportProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportProduct</servlet-name>
        <servlet-class>controller.ImportProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportConsignment</servlet-name>
        <servlet-class>controller.ExportConsignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorageLocationController</servlet-name>
        <servlet-class>controller.StorageLocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeHomeController</servlet-name>
        <servlet-class>controller.EmployeeHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsignment</servlet-name>
        <servlet-class>controller.ViewConsignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeOrder</servlet-name>
        <servlet-class>controller.EmployeeOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutSuccess</servlet-name>
        <servlet-class>controller.CheckOutSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportDashboardController</servlet-name>
        <servlet-class>controller.AdminReportDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayServlet</servlet-name>
        <servlet-class>Vnpay.VNPaySevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPayment</servlet-name>
        <servlet-class>controller.ProcessPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAndPaging</servlet-name>
        <servlet-class>controller.SearchAndPaging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>controller.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCategoryController</servlet-name>
        <servlet-class>controller.EmployeeCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByPriceController</servlet-name>
        <servlet-class>controller.FilterByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerByName</servlet-name>
        <servlet-class>controller.SearchCustomerByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingOrder</servlet-name>
        <servlet-class>controller.PendingOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveredOrder</servlet-name>
        <servlet-class>controller.DeliveredOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeByName</servlet-name>
        <servlet-class>controller.SearchEmployeeByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderByPrice</servlet-name>
        <servlet-class>controller.SearchOrderByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderPending</servlet-name>
        <servlet-class>controller.UpdateOrderPending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>controller.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseManagerDashboardController</servlet-name>
        <servlet-class>controller.WarehouseManagerDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessOwnerDashboardController</servlet-name>
        <servlet-class>controller.BusinessOwnerDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountProfileController</servlet-name>
        <servlet-class>controller.AccountProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserlogDashboardController</servlet-name>
        <servlet-class>controller.AdminUserlogDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>Vnpay.VnpayReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarehouseManagerHome</servlet-name>
        <servlet-class>controller.WarehouseManagerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchConsignmentByPrice</servlet-name>
        <servlet-class>controller.SearchConsignmentByPrice</servlet-class>
    </servlet>
    <!-- Servlet mappings -->
    <servlet>
        <servlet-name>SearchProductByPrice</servlet-name>
        <servlet-class>controller.SearchProductByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchConsignmentByPriceFix</servlet-name>
        <servlet-class>controller.SearchConsignmentByPriceFix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginController</servlet-name>
        <url-pattern>/GoogleLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountDashboardController</servlet-name>
        <url-pattern>/AdminAccountDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeHomeController</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsignment</servlet-name>
        <url-pattern>/viewConsignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeOrder</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutSuccess</servlet-name>
        <url-pattern>/checkOutSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayServlet</servlet-name>
        <url-pattern>/VNPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPayment</servlet-name>
        <url-pattern>/ProcessPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAndPaging</servlet-name>
        <url-pattern>/searchAndPaging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerByName</servlet-name>
        <url-pattern>/searchCustomerByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingOrder</servlet-name>
        <url-pattern>/pendingOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveredOrder</servlet-name>
        <url-pattern>/deliveredOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeByName</servlet-name>
        <url-pattern>/searchEmployeeByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderByPrice</servlet-name>
        <url-pattern>/searchOrderByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderPending</servlet-name>
        <url-pattern>/updateOrderPending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderImportProduct</servlet-name>
        <url-pattern>/OrderImportProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderImportProductList</servlet-name>
        <url-pattern>/OrderImportProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportProduct</servlet-name>
        <url-pattern>/ImportProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportConsignment</servlet-name>
        <url-pattern>/ExportConsignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorageLocationController</servlet-name>
        <url-pattern>/StorageLocationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountProfileController</servlet-name>
        <url-pattern>/AccountProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserlogDashboardController</servlet-name>
        <url-pattern>/AdminUserlogDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseManagerHome</servlet-name>
        <url-pattern>/WarehouseManagerHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchConsignmentByPrice</servlet-name>
        <url-pattern>/searchConsignmentByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByPriceController</servlet-name>
        <url-pattern>/filterByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessOwnerDashboardController</servlet-name>
        <url-pattern>/BusinessOwnerDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarehouseManagerDashboardController</servlet-name>
        <url-pattern>/WarehouseManagerDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByPrice</servlet-name>
        <url-pattern>/searchProductByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchConsignmentByPriceFix</servlet-name>
        <url-pattern>/searchConsignmentByPriceFix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
</web-app>
